<% content_for(:title) { "The page you were looking for doesn't exist (404)" } %>

<div class="jumbotron text-center">
  <h1>404</h1>
  <p class="lead text-muted">
    We're sorry, but something went wrong.<br />
    The page you were looking for doesn't exist 
  </p>
  <p>
    <a href="/" class="btn btn-primary btn-lg">Back to Home</a>
  </p>
</div>
<p class="text-muted text-center">
  <small>If you are the application owner check the logs for more information.</small>
</p>

