<% content_for(:title) { "We're sorry, but something went wrong (500)" } %>

<div class="jumbotron text-center">
  <h1>500</h1>
  <p class="lead text-muted">
    You may have mistyped the address or the page may have moved.
  </p>
  <p>
    <a href="/" class="btn btn-primary btn-lg">Back to Home</a>
  </p>
</div>
<p class="text-muted text-center">
  <small>If you are the application owner check the logs for more information.</small>
</p>

