# This file should contain all the record creation needed to seed the database with its default values.
# The data can then be loaded with the rake db:seed (or created alongside the db with db:setup).
#
# Examples:
#
#   cities = City.create([{ name: 'Chicago' }, { name: 'Copenhagen' }])
#   Mayor.create(name: 'Emanuel', city: cities.first)

Lang.create([
  {
    id: 1,
    code: 'en'
  },
  {
    id: 2,
    code: 'ja'
  },
])

User.create([
  { 
    id: 1,
    email: "webmaster@slidecole.com",
    password: "password",
    username: "slidecole",
    lang_id: 1,
    confirmed_at: Time.now
  },
])

User.create([
  { 
    id: 2,
    email: "tnantoka@bornneet.com",
    password: "password",
    username: "tnantoka",
    lang_id: 2,
    confirmed_at: Time.now
  },
])


