<p>
  <input type="text" name="slide[pages_attributes][<%= model.get('order') %>][title]" class="form-control input-sm js_title" value="<%= model.get('title') %>" placeholder="<%= I18n.t('placeholder.title') %>">
</p>

