<div class="row">
  <div class="<%= col(12) %>">
    <% if @category.errors.any? %>
      <div class="bs-callout bs-callout-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4><%= t('activerecord.errors.template.header', model: Category.model_name.human, count: @category.errors.count) %></h4>
        <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>


