<p>Hello <%= @resource.email %>!</p>

<p>パスワードリセットの依頼を受け付けました。以下のリンクからパスワード変更が可能です。</p>

<p><%= link_to t(:change), edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>このメールに心当たりがない場合は無視してください。</p>
<p>何もしなければパスワードは変更されませんのでご安心を。</p>
